name: "Release"

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Fetch all history for all tags
          submodules: 'recursive'

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install Dependencies
        run: sudo apt install -y build-essential libnl-3-dev libnl-genl-3-dev libgps-dev libcap-dev pkg-config libopus-dev libopusfile-dev portaudio19-dev batctl net-tools alfred

      - name: Compile Alfred Go Bindings
        run: make alfred

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args : release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
